<!doctype html>
<html>

    <head>
        <title> {% block title %}{% endblock %} manitobaTime</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link src="{{ url_for('static', filename='main.js') }}">
    </head>

    <body>

        <div id="sidebar">
            <div id="masthead">
                <a href="/"><img src="static/bisonBuddha.png" alt="bisonBuddha" ></a>
            </div>

            <h3 id="sidebar-title">manitobaTime</h3>
            <a href="/writings" id="sidebar-button">Writings</a><br>
            <a href="#" id="sidebar-button">Photos</a><br>
            <a href="#" id="sidebar-button">Art</a><br>
    
        </div>
    


        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>

</html>
