{% extends "base.html" %} 

{% block title %}Index{% endblock %}
{% block content %}


    <script type="text/javascript" src="{{ url_for('static', filename='manitobaTimeDisplay.js') }}"></script>


    <img src="{{ url_for('static', filename='simonSteepRock.jpeg') }}" width="60%" >



    <p>Central time here folks. 
A place I call home. My roots are from here. I have a long ancestry in the plains. Under the big skies and along the muddy rivers. I feel it deep inside me.</p>

<p>Lets find fun things to do, beautiful objects to create and most importantly, people to form long committed loving relationships with. If this is you then we shall get along :) </p>

<p>This place is some sort of expression of a base entity that resides inside of me. Sometimes its hard for her/he/they to express themselves and really get out into the greater world. So here I try and do it in a way that is both uplifting, illustrative and hopefully with some amount of humility… Hah!</p>
{% endblock %}
