{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}


    <script type="text/javascript" src="{{ url_for('static', filename='manitobaTimeDisplay.js') }}"></script>


    <img src="{{ url_for('static', filename='simonSteepRock.jpeg') }}" width="60%" >



    <p>Central time here folks.</p>

<p>I'd like to make beautiful objects, interact in a present manner with the material world, and most importantly, form long, committed, loving relationships with the people around me :) </p>

{% endblock %}
