{% extends "base.html" %} 

{% block title %}Index{% endblock %}
{% block content %}
    <p>My ethos on life is as follows — this will not be a cohesive piece.</p>

    <p>Do something. Do Anything. It will make you do more things.
Motivation comes from MOVING.</p>

    <p>When you first come into this world you treat it as a wonderful game and
    a playground. It takes them 18 years to beat that out of you. </p>

    <p>If you take the time to go for a walk without an electronic device and
    look up at a tree at dusk, you will understand what it is like to be on LSD
    or psilocybin. </p>

    <p>Steve jobs said it best, “a computer is a bicycle for the mind.”
    Computers have, and are, making your life unbelievably better. They are
    also making it unbelievably hard to actually know what your own life is.
    All at once. </p>

    <p>A pen and a paper did everything we do now with computers. Computers can
    just do it faster the second time around. There is still no substitute for
    doing it the first time on paper. </p>
{% endblock %}
