{% extends "base.html" %}

{% block title %}Photos{% endblock %}

{% block content %}


    <!-- <script type="text/javascript" src="{{ url_for('static', filename='photos.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='imagesloaded.pkgd.js') }}"></script>

    <script>
      $(function()) {
        var $grid = $('.grid').masonry({
          itemSelector: '.grid-item',
          percentPosition: true,
          columnWidth: '.grid-sizer'
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });
      });
      </script>



    <p>Taking pictures. Simple as that.</p>

    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='sexySimon.jpeg') }}">
      </div>
      <div class="grid-item-2">
        <img src="{{ url_for('static', filename='JRonTheHill.jpeg') }}">
      </div>
      <div class="grid-item-2">
        <img src="{{ url_for('static', filename='saskRoadElm.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='JRGun.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='saskGrass.jpeg') }}">
      </div>
      <div class="grid-item-2">
        <img src="{{ url_for('static', filename='saskRoadElm.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='northBarriereLake.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='cucumberRobert.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='stonewallMorning.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='oliAndRock.jpeg') }}">
      </div>
      <div class="grid-item">
        <img src="{{ url_for('static', filename='albertaSmoke.jpeg') }}">
      </div>
    </div>
{% endblock %}
