{% extends "base.html" %}

{% block title %}simonPelletier{% endblock %}

{% block content %}

<h3> Building </h3>

<p>I’ve had a collection of building experiences over the years.</p>

<p>I built and lived in a yurt for one summer in Squamish, BC. Not a very fancy yurt.</p>
<img src="{{ url_for('static', filename='simonPelletierPhotos/squamishYurt.jpeg') }}" width ="50%">

<p>While I was living in this yurt I helped my friend build a carriage home on the property.</p>
<img src="{{ url_for('static', filename='simonPelletierPhotos/carriageHome.jpeg') }}" width ="50%">

<p>Another time I purchased a home with partners in Whitehorse, Yukon. We then split it into two rental units. We gutted the house down to the studs and concrete. I re-designed and completely replaced the plumbing all the way to the street service below the foundation. New kitchens, new bathrooms and all new electrical. </p>

<p>More recently I designed and built a tiny home with a former partner of mine. We used locally sourced timber for the inside and outside with a focus on using wood and metal. The home rests on an old trailer I salvaged. Its an off-grid setup with no plumbing and an Amish built wood stove cooktop and a solar system designed by me. It features large windows, white pine shiplap interior with cedar accents and rough white pine board and batten exterior painted with a traditional linseed pine tar paint. It currently sits in the corner of a field tucked against some popular trees on the Birch river. A very quiet spot. </p>



{% endblock %}
