{% extends "base.html" %}

{% block title %}Writings{% endblock %} 

{% block content %}

    <p>A collection of writings from over the years. Mostly one night essay endeavours with more pontification than substance.</p> 

    <br>

    <ul style="list-style-type: none">
    <li><a href="/writings/aStringandaBalloon">A String and a Balloon</a></li>
    <li><a href="/writings/twentyThousandLeagues">20,000 Leagues Under the Sea</a></li>
    <li><a href="/writings/dontPontificate">Dont Pontificate too Much</a></li>
    </ul>
{% endblock %} 
