{% extends "base.html" %}

{% block title %}Writings{% endblock %}

{% block content %}

    <p>A collection of writings from over the years.</p>

    <br>

    <!-- <ul style="list-style-type: none"> -->
    <a href="/writings/aStringandaBalloon">A String and a Balloon</a><br>
    <a href="/writings/twentyThousandLeagues">20,000 Leagues Under the Sea</a><br>
    <a href="/writings/dontPontificate">Dont Pontificate too Much</a><br>
    <a href="/static/AntColony Pelletier_Simon.pdf">AntColony Paper</a><br>

    <!-- </ul> -->
{% endblock %}
